*{
    margin: 0px;
    padding: 0px;
   box-sizing: border-box;
  }
  .h1,.row2,.row3,.row4,.row5{
    display: grid;
    grid-template-columns: 150px 150px 200px 150px 150px;
    column-gap: 15px;
    justify-content: center;
    border-bottom: 20px;
  }
  #spiderman,#captainamerica,#wonderwoman,#gemwoman{
    text-align: center;
    border: 3px solid rgb(224,224,224);
    height: 230px;
    width: 150px;
    border-radius: 15px;
    padding: 15px;
  }
  #name{
    font-size: 15px;
  }
  #strength{
    font-size: 30px;
   
  }

  #scores{
    font-size: 30px;
  }
  #scores{
    text-align: center;
  }
  #blueeyes,#tuntun,#redblonde,#violetblonde{
    text-align: center;
    border: 3px solid rgb(224,224,224);
    height: 230px;
    width: 150px;
    border-radius: 15px;
    padding: 15px;
  }
  .row2,.row3,.row4,.row5{
    margin-top: 20px;
  }
  #blackcat,#shield,#digger,#bluelaser{
    text-align: center;
    border: 3px solid rgb(224,224,224);
    height: 230px;
    width: 150px;
    border-radius: 15px;
    padding: 15px;
  }
  #hulk,#deadpool,#blackpanther,#doctorstrange{
    text-align: center;
    border: 3px solid rgb(224,224,224);
    height: 230px;
    width: 150px;
    border-radius: 15px;
    padding: 15px;
  }
  #dumbleman,#gamora,#wasp,#thanos{
    text-align: center;
    border: 3px solid rgb(224,224,224);
    height: 230px;
    width: 150px;
    border-radius: 15px;
    padding: 15px;
  }

